section{
    font-family: 'Roboto', sans-serif;
    height: 500px;
    padding-bottom: 100px;
    margin: 0;
}
h1{
    font-size: 50px;
    font-weight: bold;
    margin-top:35%;

}
p{
    font-size: 20px;
} 
h2{
    font-size: 30px;
}
h3{
    font-size: 30px;
}
.coral{
    color: coral;

}

.blue{
    color: rgb(0, 0, 83);
}
.navigationBar{
    margin-left: 60%;
}
.navigationBar li {
     list-style-type: none;
     float: left;
}
.navigationBar a{
    text-decoration: none;
    color: black;
    padding: 0px 20px;
}
.top-button{
    height: 0px;
}
.top{
    margin-top: 0px;
}
.half-width{
    margin-left: 5%;
    padding-left: 2%;
    width: 40%;
    float: left;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(60deg, rgb(252, 81, 19), coral);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.half-width img{
    margin-top: 8%;
    width: 90%;
}
.aboutDiscription{
    margin-top: 3%;
}
.project{
    background-color: rgba(250, 244, 239, 0.938);
    margin-top: 5%;
    padding-bottom: 15%;

}
.projectBox{
    margin-top: 3%;
    box-shadow: 20px 20px 40px gray;
    border-radius: 20px;
    height: 90%;
    width: 25%;
}
.textInMiddle{
    text-align: center;
    padding-top: 5%;
}
.boxColor{
    background-color: white;
}
.workInquiry{

    width: 10%;
    height: 100%;
    
}
.awardsBox{
    margin-top: 3%;
    box-shadow: 20px 20px 40px gray;
    border-radius: 180px;
    height: 50%;
    width: 22%;
}

.awardsTextPossition{
   text-align: center;
   padding-top: 3%;
}
.awardTetxSize{
    font-size: 100;
}
#contestPic img{
    float: left;
    /* padding-left: 5%; */
    width: 35%;
    height: 35%;
    border-radius: 200px;

}
.workInquiry{
    height: 20em;
    width: 100%;
    
}
.WIBackground{
    background-image: url(images/Group_33094_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 8em;
    padding: 3%;
    margin: 14%;
    margin-left: 20%;
   

}
.workInquiry h1{
    color: white;
    margin-top: 9%;
}
.letsChat{
    margin-top: 7%;
    padding-left: 190px;
    width: 20%;
}
footer{
    text-align: center;
}
#text{
    color: rgb(104, 97, 97);
}
.contact img{
    width: 3%;
    padding: 0px 15px;
    
}
